<% layout('layout/boilerplate') -%>
<div id="mediaSearchContainer">
    <div id="mediaSection">
        <div  style="display: flex; justify-content: center; width: 80%;">
            <h2>Omnia</h2>
        </div>
        <form class="d-flex mt-4" role="search" method="POST" action="/searchMovie">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="movieName" id="movieName"/>
            <button class="btn btn-dark btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
    